.modal-form-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .form-container {
    display: grid;
    grid-gap: 10px;
    margin-bottom: 20px;
  }
  
  .form-container label {
    font-weight: bold;
  }
  
  .form-container input,
  .form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .buttons-container {
    display: flex;
    justify-content: flex-end;
  }
  
  .buttons-container button {
    margin-left: 10px;
  }
  
  .form-container > div:last-child input[type="file"] {
    display: none;
  }
  
  .form-container > div:last-child label {
    border-radius: 4px;
    cursor: pointer;
  }
  
  .form-container > div:last-child label:hover {
    background-color: #2980b9;
  }
  
  .form-container > div:last-child input[type="file"]:focus + label {
    outline: none;
  }
  
  .form-container > div:last-child input[type="file"]:valid + label {
    background-color: #2ecc71;
  }
  
  .form-container > div:last-child input[type="file"]:valid + label:hover {
    background-color: #27ae60;
  }
  
  .form-container > div:last-child input[type="file"]::before {
    content: "Select Images";
  }
  
  .form-container > div:last-child input[type="file"]:focus + label::before {
    outline: none;
  }
  
  .form-container > div:last-child input[type="file"]:valid + label::before {
    content: "Images Selected";
  }
  
  .form-container > div:last-child input[type="file"]:valid + label::before {
    content: "Images Selected";
  }
  
  .form-container > div:last-child input[type="file"]:valid + label:hover::before {
    content: "Change Images";
  }
  